
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About </h1>

    <p> MBTI, or the Myers-Briggs Type Indicator, is a personality assessment tool based on the psychological theories of Carl Jung. Developed by Katharine Cook Briggs and her daughter Isabel Briggs Myers, 
        the MBTI aims to categorize individuals into specific personality types, each representing a combination of preferences in how people perceive the world and make decisions.
        The MBTI assessment measures four fundamental dimensions, each with two opposing preferences, resulting in a total of 16 possible personality types. The four dimensions are:
        1. **Extraversion (E) - Introversion (I)**: This dimension reflects how individuals gain energy. Extraverts are more outgoing and gain energy from interacting with others, while introverts are more reserved and recharge through solitude.
        2. **Sensing (S) - Intuition (N)**: This dimension pertains to how people gather information. Sensors focus on facts, details, and concrete information, while intuitive individuals are more interested in patterns, possibilities, and abstract concepts.
        3. **Thinking (T) - Feeling (F)**: This dimension reflects decision-making preferences. Thinkers prioritize logic and objective analysis, while feelers prioritize values, emotions, and interpersonal considerations.
        4. **Judging (J) - Perceiving (P)**: This dimension relates to how individuals approach the external world. Judgers prefer structure, planning, and closure, while perceivers are more adaptable, spontaneous, and open-ended.
        Each of these dimensions contributes to a person's overall personality type, resulting in a four-letter code. For example, an "INTJ" type is characterized by Introversion, Intuition, Thinking, and Judging preferences.
        The MBTI assessment is widely used in personal development, career counseling, team building, and relationship counseling. It can help individuals gain insights into their strengths, communication styles, decision-making processes, 
        and potential areas for growth. However, it's important to note that the MBTI has been criticized for lacking scientific validity and reliability compared to other personality assessment tools.
        The MBTI test typically involves answering a series of questions or statements designed to determine a person's preferences in each of the four dimensions. The results provide a personality type description along with insights into how 
        an individual might interact with the world, make decisions, and relate to others. While the MBTI can be a useful tool for self-discovery and personal reflection, it's essential to interpret the results with an open mind and recognize that individuals are complex and multidimensional.</p>

{% endblock %}
